.KitContainer {
    display: flex;
    background-color: white;
    margin-left: 24%;
    height: 100vh;
    width: calc(100% - 24%);
    flex-direction: column;
}

.KitHeader {
    /* height: 230px; */
    /* background-color: #e4fff6; */
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid rgb(238, 238, 238);
    position: fixed;
    width: calc(76%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.KitInput {
    display: inline-block;
    border: none;
    background: transparent;
    color: white;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    outline: 0;
    font-size: 16px;
}

.KitFooter {
    background: #16171A;
    box-shadow: 0 4px 8px rgba(22,23,26,0.15);
}

.Horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 22px;
}

.installText {
    color: #FDFDFD;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
}

.tag {
    display: inline-block;
    background-color:#0A0A0A;
    border-radius: 4px;
    color: white;
    padding: 6px 8px;
    margin-right: 8px;
    margin-bottom: 24px;
}

.tag:hover {
    cursor: default;
}

.InstallButton {
    font-size: 18px;
    background-color: #3ECF8E;
    padding: 0 42px;
    height: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.ControlButtons {
    flex-direction: column;
}

.CancelButton {
    padding: 12px 0;
    width: 100%;
    text-align: center;
    background-color: #F96854;
    cursor: pointer;
    font-size: 16px;
}

.InstallButton {
    cursor: pointer;
    font-size: 16px;
}