.MainContainer {
    display: flex;
    background-color: white;
    background-color: #F5F8FC;
    margin-left: 24%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SelectionContainer {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.InnerSelection {
    display: flex;
    padding: 14px 0;
}

.Button {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: silver;
    margin-left: 20px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-family: Karla;
    font-weight: 700;
    letter-spacing: -.1px;
    color: #fff;
    text-align: center;
}

.Button:hover {
    cursor: pointer;
    opacity: .9;
    transition: opacity .2s ease-in;
    transform: translateY(-1px);
}